.main {
  padding: 2rem;
  min-height: 100vh;
}

.textEntry {
  outline: none;
  padding: 5px;
  font-size: large;
  resize: none;
}

.translateButton {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 25px;
  color: white;
  font-size: medium;
  border-radius: 3px;
  background-color: #66a3ff;
}

.translateButton:hover {
  background-color: #4d94ff;
  cursor: pointer;
}

.result {
  outline: none;
  padding: 5px;
  font-size: large;
  resize: none;
}
